In [1]:
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
import math

test_filepath = 'data/test_select.csv'
test_file = pd.read_csv(test_filepath)
df_test = pd.DataFrame(test_file)

result_filepath = 'data/result.csv'
result_file = pd.read_csv(result_filepath)
df_result = pd.DataFrame(result_file)

In [2]:
def RMSE_func(y_true, y_pred):
    return mean_squared_error(y_true, y_pred, squared = False)

Mention that the input of this function should be two pd Dataframe from pd.read_csv with only a list of CFA number.

In [7]:
RMSE_func(df_test['Correct First Attempt'], df_result['0'])

     Unnamed: 0  Correct First Attempt
0            14                    0.0
1            15                    1.0
2            16                    1.0
3            17                    1.0
4            18                    0.0
..          ...                    ...
872        1495                    0.0
873        1496                    1.0
874        1497                    1.0
875        1498                    0.0
876        1499                    0.0

[877 rows x 2 columns]